/* update with google font */
:root {
  --dark: #1a1a1a;
  --light: #fff;
  --blue: #163359;
  --dark-green: #5a7336;
  --bright-green: #96a61f;
  --light-green: #818c2a;
  --pink: #f26b6b;
}

* {
  font-family: "Poppins", sans-serif;
}

/*start css with mobile first - use media queries to manage large sizes */

.navbar-light-custom {
  background-color: var(--light);
}

.navbar-light-custom .navbar-toggler-custom {
  border-color: var(--light);
}

.bg-light-custom {
  background-color: var(--light);
}

.custom-container {
  text-align: center;
}

img {
  border-radius: 50%;
  z-index: 5;
}

i {
  font-size: 1.6em;
  color: var(--blue);
}

a i {
  transition: all 0.3s linear;
}

.bi:hover {
  color: var(--pink);
}

/* animation */
html,
body,
#bubbles {
  height: 100%;
}

body {
  overflow: hidden;
}

#bubbles {
  padding: 100px 0;
}

.bubble {
  width: 60px;
  height: 60px;
  border-radius: 200px;
  position: absolute;
  animation-duration: 3s;
}

.x1 {
  left: 25%;
  transform: scale(13);
  opacity: 0.1;
  background: var(--pink);
  z-index: -1;
  animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation-direction: alternate;
  animation-duration: 10s;
}

@keyframes moveclouds {
  0% {
    top: 180px;
    left: 25%;
    /* margin-left: 0px; */
  }
  100% {
    left: calc(25% + 50px);
    top: 100px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 80px;
  }
}


@media (min-width: 992px) {
  /* updated animation for large screens */
  .x1 {
    left: calc(80% + 100px);
    transform: scale(19);
    opacity: 0.1;
    background: var(--pink);
    z-index: -1;
    animation: moveclouds 15s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    animation-direction: alternate;
    animation-duration: 10s;
  }
}
