/* update with google font */
:root {
  --dark: #1a1a1a;
  --light: #fff;
  --blue: #163359;
  --light-blue: #8b99ac;
  --dark-green: #5a7336;
  --bright-green: #96a61f;
  --light-green: #818c2a;
  --pink: #f26b6b;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--dark);
}

/*mobile first*/

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* opening page transition */
  opacity: 0;
  transition: opacity 0.5s;
}

.col-custom {
  /* transition when resizing */
  transition: flex-basis 500ms linear;
}

.contact-container {
  min-height: 80%;
  position: relative;
  margin: 0 auto;
}

.navbar-expand-md {
  background: var(--light);
}

.navbar-light-custom {
  background-color: var(--light);
}

.bg-light-custom {
  background-color: var(--light);
}

.bg-light-blue-custom {
  background-color: var(--light-blue);
}

.bg-blue-custom {
  background-color: var(--blue);
}

.container-custom {
  text-align: center;
}

img#corporate-img {
  border-radius: 50%;
  z-index: 5;
  max-width: 60%;
  /* transition when resizing */
  transition: all 0.5s ease-in-out;
}

i {
  font-size: 1.6em;
  color: var(--blue);
  /* transition when resizing */
  transition: all 0.5s ease-in-out;
}

a i {
  transition: all 0.3s linear;
}

.card-text a {
  color: var(--dark);
  text-decoration: none;
}

.card-text a:hover {
  color: var(--bright-green);
  font-weight: 500;
}

.card-text a:focus {
  color: var(--bright-green);
  font-weight: 500;
}

.bi:hover {
  color: var(--pink);
}

.link-primary-custom {
  color: var(--pink);
}

.link-primary-custom:hover {
  color: var(--blue);
}

.link-primary-custom:focus {
  color: var(--blue);
}

.btn.btn-primary-custom {
  background-color: var(--pink);
  color: var(--light);
}

.btn.btn-primary-custom:focus {
  background-color: var(--blue);
  border-color: var(--light-blue);
  box-shadow: 0 0 0 0.25rem rgb(69 92 122 / 50%);
}

.btn.btn-primary-custom:hover {
  background-color: var(--blue);
  border-color: var(--light-blue);
  box-shadow: 0 0 0 0.25rem rgb(69 92 122 / 50%);
}

.btn.btn-secondary-custom {
  background-color: var(--blue);
  color: var(--light);
}

.btn.btn-secondary-custom:hover {
  background-color: var(--pink);
  border-color: var(--bright-green);
  box-shadow: 0 0 0 0.25rem rgb(150 166 31 / 50%);
}

#contact-page-link {
  cursor: pointer;
}

.text-blue-custom {
  color: var(--blue);
}

.section-project-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2rem auto;
  width: 90%;
  transition: flex-basis 1s linear;
}

.card-custom {
  flex: 0 1 auto;
  align-self: center;
  border: none;
  width: 80%;
  /* resizing transition */
  transition: all 0.5s ease-in-out;
}

.card-title-custom {
  color: var(--pink);
}

footer i {
  font-size: 3rem;
  overflow: hidden;
}

/* animation */
#bubbles {
  height: 100%;
}

#bubbles {
  padding: 100px 0;
  overflow: hidden;
}

.bubble {
  width: 60px;
  height: 60px;
  border-radius: 200px;
  position: absolute;
  overflow: hidden;
}

.x1 {
  left: 25%;
  transform: scale(5);
  opacity: 0.1;
  background: var(--pink);
  z-index: -1;
  animation: moveclouds 21s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation-delay: 1s;
  overflow: hidden;
}

.x2 {
  left: 50%;
  transform: scale(3);
  opacity: 0.1;
  background: var(--blue);
  z-index: -1;
  animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation-delay: 3s;
  overflow: hidden;
}

.x3 {
  left: 75%;
  transform: scale(2);
  opacity: 0.1;
  background: var(--bright-green);
  z-index: -1;
  animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  animation-delay: 5s;
  overflow: hidden;
}

@keyframes moveclouds {
  0% {
    top: 1500px;
    left: 25%;
    margin-left: 0;
  }
  100% {
    left: calc(25% + 50px);
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 80px;
  }
}

/* sm layout */
@media (min-width: 576px) {
  img#corporate-img {
    border-radius: 50%;
    z-index: 5;
    max-width: 80%;
  }

  i {
    font-size: 2em;
  }

  /* animation*/
  .x1 {
    left: calc(80% + 100px);
    transform: scale(6);
    animation: moveclouds 49s linear infinite,
      sideWays 7s ease-in-out infinite alternate;
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 240px;
    }
  }
}

/* md layout */
@media (min-width: 768px) {
  img#corporate-img {
    border-radius: 50%;
    z-index: 5;
    max-width: 60%;
  }

  .card-custom {
    width: 90%;
    margin: 0;
  }

  .h2-align {
    margin-left: -8px;
  }

  /* animation*/
  .x1 {
    left: calc(80% + 100px);
    transform: scale(6);
    animation: moveclouds 49s linear infinite,
      sideWays 7s ease-in-out infinite alternate;
  }

  .x2 {
    animation: moveclouds 40s linear infinite,
      sideWays 8s ease-in-out infinite alternate;
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 360px;
    }
  }
}

/* lg layout */
@media (min-width: 992px) {
  /* animation */
  .x1 {
    left: calc(80% + 100px);
    transform: scale(9);
    animation: moveclouds 98s linear infinite,
      sideWays 14s ease-in-out infinite alternate;
  }

  .x2 {
    transform: scale(6);
    opacity: 0.1;
    animation: moveclouds 40s linear infinite,
      sideWays 16s ease-in-out infinite alternate;
    animation-delay: 6s;
  }

  .x3 {
    transform: scale(3);
    animation: moveclouds 50s linear infinite,
      sideWays 10s ease-in-out infinite alternate;
    animation-delay: 10s;
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 420px;
    }
  }
}

/* xl layout */
@media (min-width: 1200px) {
  .icons {
    display: none;
  }

  .contact-icon {
    font-size: 4 em;
  }

  .card-custom {
    width: 80%;
    margin: 0;
  }

  /* animation */
  .x1 {
    left: calc(80% + 100px);
    animation: moveclouds 147s linear infinite,
      sideWays 21s ease-in-out infinite alternate;
  }

  .x2 {
    transform: scale(6);
    opacity: 0.1;
    animation: moveclouds 80s linear infinite,
      sideWays 16s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .x3 {
    transform: scale(3);
    animation: moveclouds 75s linear infinite,
      sideWays 15s ease-in-out infinite alternate;
    animation-delay: 6s;
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 560px;
    }
  }
}

@media (min-width: 1400px) {
  img#corporate-img {
    border-radius: 50%;
    z-index: 5;
    max-width: 40%;
  }

  /* animation */
  .x1 {
    animation-delay: 20s;
  }

  .x2 {
    animation: moveclouds 80s linear infinite,
      sideWays 24s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .x3 {
    animation-delay: 8s;
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 800px;
    }
  }
}
